@media (max-width: 65em) {
  .navs {
    gap: 5.2rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.2rem;
    row-gap: 3.6rem;
  }

  .project-2 {
    justify-self: start;
  }

  .project-3 {
    grid-column: span 2;
    justify-self: center;
  }

  .video {
    border-radius: 5px;
    width: 80rem;
    height: 45rem;
  }
}

@media (max-width: 55em) {
  .navs {
    gap: 4rem;
  }

  .big-tag {
    bottom: 45.8%;
  }

  .video {
    border-radius: 5px;
    width: 64rem;
    height: 36rem;
  }
}

@media (max-width: 48em) {
  .logo {
    margin: 2.8rem 0 2.8rem 0;
  }

  .nav {
    font-size: 2rem;
  }

  html {
    font-size: 56.25%;
  }

  .big-tag {
    bottom: 43.3%;
  }
}

/* SWITCH TO MOBILE NAV */

@media (max-width: 44em) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4.8rem;
  }

  .project {
    width: inherit;
  }

  .project-1 {
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 38.5em) {
  .primary {
    font-size: 8.4rem;
  }

  .video {
    border-radius: 5px;
    width: 56rem;
    height: 26rem;
  }
}

@media (max-width: 35em) {
  .video {
    border-radius: 5px;
    width: 52rem;
    height: 23rem;
  }
}

@media (max-width: 31.25em) {
  .hero-img {
    height: 65vh;
  }

  .primary {
    font-size: 7.6rem;
  }

  .video {
    border-radius: 5px;
    width: 48rem;
    height: 22rem;
  }
}

@media (max-width: 28.3em) {
  .primary {
    text-align: center;
    font-size: 6.4rem;
    margin: 0;
  }

  .hero-img {
    justify-content: center;
  }

  .footer-container {
    gap: 0;
  }

  .footer-container a {
    font-size: 1.2rem;
  }

  .icon,
  .footer-text {
    padding: 0.8rem;
  }

  .video {
    border-radius: 4px;
    width: 42rem;
    height: 22rem;
  }
}

@media (max-width: 25em) {
  .primary {
    font-size: 6rem;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  #questions {
    width: 70%;
    padding: 2.4rem 1.2rem;
  }

  .video {
    border-radius: 4px;
    width: 35rem;
    height: 18rem;
  }
}

@media (max-width: 24em) {
  .footer-container footer-text {
    font-size: 1.2rem;
    padding: 0rem;
  }

  .footer-text {
    padding: 0.4rem;
  }

  .icon {
    padding: 0.4rem;
  }
  .footer-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 22.3em) {
  .heading-secondary {
    font-size: 2.8rem;
  }

  .project {
    max-width: 65%;
  }

  .project-img {
    width: 100%;
  }

  .big-tag {
    bottom: 49.7%;
  }

  .video {
    border-radius: 4px;
    width: 34rem;
    height: 18rem;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 50%;
  }

  .big-tag {
    bottom: 48.5%;
  }
}

@media (max-width: 20em) {
  .hero-img {
    height: 50vh;
  }

  .primary {
    font-size: 5.2rem;
  }

  .big-tag {
    bottom: 50%;
  }
}

@media (max-width: 18em) {
  html {
    font-size: 48%;
  }

  .primary {
    font-size: 4.4rem;
  }

  .video {
    border-radius: 4px;
    width: 32rem;
    height: 18rem;
  }

  .big-tag {
    bottom: 51%;
  }
}

@media (max-width: 17em) {
  .heading-secondary {
    font-size: 2.4rem;
  }

  .footer-container a {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .footer-text {
    font-size: 1rem;
  }

  .video {
    border-radius: 4px;
    width: 28rem;
    height: 16rem;
  }
  .big-tag {
    bottom: 53%;
  }
}
